# Data Wrangling Lab

Import data module

In [1]:
import pandas as pd

Load the dataset into a dataframe

In [5]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")
df.shape

(11552, 85)

## Finding duplicates

Find how many duplicates row exists in the dataframe

In [6]:
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe

In [7]:
# df_new is used with no duplicates

df_new=df.drop_duplicates()

Verify if duplicates were actually dropped

In [8]:
#Shape defines the new number of rows
df_new.shape

(11398, 85)

## Finding Missing values

Find the missing values for all columns

In [9]:
df_new.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how mnay roaws are missing in the column 'Workloc'

In [10]:
df_new['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the value counts for the column WorkLoc:

In [11]:
df_new['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent in the WorkLoc column

In [12]:
df_new['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace)all the empty rows in the column WorkLoc with the value that you have identified as majority

In [13]:
df_new['WorkLoc'].fillna('Office',inplace=True)

C:\Users\abeda\AppData\Local\Temp\ipykernel_35080\3491435391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['WorkLoc'].fillna('Office',inplace=True)

After imputation there should ideally not be any empty roaws in the WorkLoc column. Verify if imputing was successful

In [15]:
df_new['WorkLoc'].isnull().sum()

0

## Normalizing Data

List out the various categories in the column 'CompFreq'

In [16]:
df_new['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [20]:
anncomp=[]
def NAC():
    for x,y in zip(df['CompFreq'], df['CompTotal']):
        if x=='Monthly':
            anncomp.append(y*12)
        elif x=='Weekly':
            anncomp.append(y*52)
        else:
            anncomp.append(y)
NAC()
          
df['NormalizedAnnualCompensation']=anncomp
df[['NormalizedAnnualCompensation']]

       NormalizedAnnualCompensation
0                           61000.0
1                          138000.0
2                           90000.0
3                          348000.0
4                           90000.0
...                             ...
11547                      130000.0
11548                       74400.0
11549                      105000.0
11550                       80000.0
11551                           NaN

[11552 rows x 1 columns]